body {
    margin: 0;
    padding: 0;
}

#box {
     margin: 0 auto;
     padding: 0;
     background-color: #050210;
     width: 600px;
     height: 600px;
}

.circle1 {

    background: repeating-linear-gradient(#fb5dad, #55fb9f, #b97aff);
    width: 200px;
    height: 200px;
    border-radius: 100%;
position: relative;
top: 200px;
left: 200px;
 animation-name: circle1;
 animation-duration: 1s;
 animation-iteration-count: infinite;
 animation-timing-function: linear;
}

@keyframes circle1 {
    0%{
        transform: rotate(0);
    }
    100%{
transform: rotate(360deg);
    }
}

.circle1::before {

    content: "";
    width: 200px;
    height: 200px;
    background: repeating-linear-gradient(#fb5dad, #55fb9f, #b97aff);
    position: absolute;
    border-radius: 100%;
    filter: blur(30px);
}
.ring {
    width: 150px;
    height: 150px;
    position: relative;
    top: 25px;
    left: 25px;
    background: black;
    border-radius: 100%;

}

.circle {

    width: 150px;
    height: 150px;
    position: relative;
    background-color: #161514;
    border-radius: 100%;
    animation-name: circle;
    animation-duration: 1s;
    animation-iteration-count: infinite;

}

@keyframes  circle {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}